body {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    max-width: 1170px;
    margin: auto;
    overflow-x: hidden;
}

:root {
    --dark_blue: #131318;
    --gray: #424247;
    --gray2: #5A5A5D;
    --light_blue: rgba(19, 19, 24, 0.70);
    --btn_bg: #FF5400;
}

/* share class */

.primary_btn {
    padding: 16px 35px;
    background-color: var(--btn_bg);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.u_r_desition,
.choose_us_container,
.deals_container,
.blog_container {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 100px;
}

.u_r_desition h2,
.choose_us_container h2,
.deals_container h2,
.blog_container h2 {
    margin-top: 0px;
    color: var(--dark_blue);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.u_r_desition p,
.choose_us_container p,
.deals_container p,
.blog_container p ,
.footer_container p{
    margin: 0px auto;
    max-width: 643px;
    color: var(--light_blue);
}


/* ---------------------header part ----------------------*/
header {
    width: 100%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
}

.nav_container {
    margin: 50px 0 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.company_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
}

.company_name p {
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark_blue);
}

.company_name p span {
    color: var(--btn_bg);
}

.hambarger {
    position: relative;
    margin: 11px 10px 0px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    display: none;
}

.menu_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu_container li {
    position: relative;
    list-style-type: none;
    margin: 0px 10px;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
    cursor: pointer;
}

.menu_container li:first-child {
    color: var(--btn_bg);
    font-weight: 700;
}

#close {
    display: none;
}

/* ----------------------------Banner--------------------- */
.first_banner {
    z-index: 1;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;

}

.first_banner h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.first_banner p {
    max-width: 676px;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
}

.first_form {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.30);
    padding: 24px;
}


.first_form input,
.first_form select {
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    border: none;
    outline: none;
    text-align: left;
    border-radius: 8px;
    
}


.first_form select option {
    color: #424247;
}

.first_form input:focus,
.first_form select:focus {
    color: var(--dark_blue);
    border: none;
    outline: none;
}

.first_form button {
    width: 100%;
    padding: 16px 25px;
    background-color: var(--btn_bg);
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* ----------------------------Populer Tours------------------- */
.populer_tour {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 0px;
}

.tour_details {
    position: relative;
    margin: 0px;
}

.tour_details h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--dark_blue);
    margin: 0;
    padding: 0;
}

.tour_details p,
.tour_details ul {

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--light_blue);

}

.tour_details p {
    margin: 24px 0px;
}

.tour_details ul li {
    margin: 16px 0px;
}

.populer_tour img {
    width: 100%;
    object-fit: contain;
}

/* -----------------Choose Your Destination----------------------- */

.tour_img_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;

}

.tour_img_container div {
    width: 100%;
    max-height: 300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.tour_img_container div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
    z-index: 1;
    transition: all 1s ease-in-out;
}

.img_gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.tour_img_container div:hover img {
    transform: scale(1.5);
    opacity: 0.5;
}

.tour_img_container div:hover p {
    color: var(--dark_blue);
}

.img_item1,
.img_item2 {
    grid-column: span 3;

}

.img_item3 {
    grid-column: span 1;

}

.img_item4 {
    grid-column: span 4;

}

.img_item5 {
    grid-column: span 1;


}

.img_item6 {

    grid-column: span 2;

}

.img_item7 {
    grid-column: span 4;

}

/* ----------------------Why Choose Us ------------------- */
.choose_box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 24px;
}

.top_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.service_box {
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    color: #5A5A5D;
}

.service_last {
    max-width: 500px;
}

/* ---------------Deals & Discounts-------------------------- */

.deals_one,
.deals_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    text-align: left;
    margin: 25px 0px 0px;
}

.deals {
    margin-top: 50px;
}

.deals_one {
    background: url('Images/shadow.png'), url('Images/deals\ one.png');
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;

}

.deals_two {
    background: url('Images/shadow.png'), url('Images/deals\ two.png');
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
}

.details_container {

    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 50px;
}

.deals_one .details_container {
    margin: 55px 55px 55px 0px;
}

.deals_two .details_container {
    margin: 55px 0px 55px 55px;
}

.deals_container ul {
    position: relative;
    display: flex;
    margin-left: -40px;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
    flex-wrap: wrap;
}

.details_container ul li {
    text-align: left;
}

.details_container ul li i {
    color: var(--btn_bg);
}

.details_container h2 {
    font-size: 1.5rem;
    color: var(--dark_blue);
    font-style: normal;
    font-weight: 800;
}

.details_container h2 span {
    color: var(--btn_bg);
    font-size: 1.25rem;
}

.details_container p {
    position: relative;
    max-width: 452px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
    max-height: 80px;
    overflow: hidden;
}

.details_container button {
    font-size: 1.25rem;
}

.deals_btn {
    margin-top: 30px;
    border-radius: 8px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/* -------------A Simple Perfect Place To Get Lost-------------------- */
.perfect_place_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}

.right_place {
    position: relative;
    margin-top: -50px;
    max-width: 600px;
}

.right_place h2,
.letter_form_right h2 {
    position: relative;
    color: var(--dark_blue);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.right_place p,
.letter_form_right p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 0px;
}

.right_place ul {
    color: var(--dark_blue);
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
}

.right_place ul li {
    margin: 10px 0px;
    list-style-position: inside;
}

.right_place button {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.left_place {
    position: relative;
}

.left_place video {
    border-radius: 16px;
   
}

.left_place p {
    max-width: 256px;
    text-wrap: wrap;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

/* -------------------------Blog------------------------------ */

.blog_holder {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: auto;
   
}

.blog {
    border-radius: 16px;
    width: 100%;
    position: relative;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.116);
    overflow: hidden;
   
}

.blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
}

.writer {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1px);
}

.img_container {
    width: 100px;
    height: 100px;
}

.writer img {
    border-radius: 100px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
}

.writer_info {
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 35px;
    text-align: right;
    margin-right: -1px;
}

.writer_info p {
    font-size: 1rem;
    color: var(--btn_bg);
    text-align: right;
    font-weight: 800;
}

.writer_info time {
    font-size: 0.8rem;
    color: black;
    text-align: right;
    line-height: 10px;
}

.blog h2 {
    margin-top: 50px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--dark_blue);
    font-weight: 700;
    max-height: 85px;
    text-wrap: wrap;
}

.blog_pop_up {
    transition: left 1s ease-in-out;
    padding: 20px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: -1000px;
    background: rgb(47, 4, 51);
    border-radius: 16px;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
 
   
}

.blog_pop_up p {
    text-align: justify;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: #fff;
}

.btn{
    background-color: #0eac91;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.blog:hover .blog_pop_up{
    top: 0;
    left: 0;
   
   
}


/* ----------------------Newsletter---------------------------- */
.newsletter_container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.letter_form_right {
    margin: 0px;
    padding: 10px 40px 40px;
    border: 1px solid var(--btn_bg);
    border-radius: 16px;

}

.letter_form_right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.letter_form_right form input {
    border: 1px solid rgba(0, 0, 0, 0.151);
    width: calc(100% - 40px);
    padding: 20px;
    color: var(--dark_blue);
    background: rgba(19, 19, 24, 0.05);
}

.letter_form_right form button {
    width: 100%;
    margin: 0px;
    font-size: 1rem;
    font-weight: 600;
}

.offer_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_img img {
    width: 100%;
    object-fit: cover;
}

.offer {
    width: 300px;
    position: absolute;
    bottom: 70px;
    right: 10px;
    transform: rotate(-30deg);
    background-color: var(--btn_bg);
    text-align: center;
    border-radius: 16px;
    color: #FFF;
}

.offer p {
    font-size: 1rem;
    font-weight: 400;
}

.offer h2 {
    font-size: 1.8rem;
    font-weight: 800;
}
/* ---------------Footer------------------------------------ */

.footer_container{
    margin-top: 100px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
}
.icon_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon_box p{
    font-size: 2rem;
    font-weight: 800;
    color: var(--dark_blue);
}
.icon_box p span{
    color: var(--btn_bg);
}
.footer_container .foter_details{
    max-width: 750px;
    text-align: center;
    margin: 24px 0px;
}
.social_icon{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  
}
.social_icon li{
    margin-right: 20px;
    cursor: pointer;

}

.footer_container p{
    margin: auto;
    text-align: center;
    font-size: 1rem;
}
/*-------------------- responsive design--------------------- */
@media screen and (max-width:1180px) {
    .first_banner {
        margin: 0 10px;
        border-radius: 8px;
    }

    .populer_tour {
        padding: 0px 10px;
    }

    .tour_img_container {
        margin: 50px 10px;
    }

    .deals_one,
    .deals_two,
    .perfect_place_container,
    .newsletter_container,
    .blog_holder {
        margin-right: 10px;
        margin-left: 10px;
    }



}

@media screen and (max-width:950px) {

    .populer_tour,
    .newsletter_container {
        flex-direction: column;

    }

    .tour_img_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .img_item1,
    .img_item2,
    .img_item3,
    .img_item4,
    .img_item5,
    .img_item6,
    .img_item7 {
        grid-column: span 1;

    }

    .perfect_place_container {
        align-items: center;
    }

    .right_place h2 {
        font-size: 1.8rem;
    }

    .letter_form_right {
        width: calc(100% - 80px);
    }
    .blog_holder{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:800px) {
    .first_banner h1 {
        margin-bottom: 10px;
        font-size: 3rem;
    }

    .first_banner p {
        margin-bottom: 15px;
    }

    .first_form {
        flex-direction: column;
        gap: 16px;
        width: 50%;
    }

    .first_form input {
        width: 90%;
    }

    .perfect_place_container {
        flex-direction: column;
        gap: 20px;
    }

}

@media screen and (max-width:768px) {

    .hambarger {
        display: flex;
    }

    .nav_container {
        flex-direction: column;

    }

    .menu_container {
        top: 80px;
        position: absolute;
        margin-right: 10px;
        flex-direction: column;
        padding: 60px 0px;
        width: 100%;
        height: 100vh;
        background: rgb(5, 42, 66);
        display: none;
    }

    .menu_container li {
        padding: 20px 0px;
        color: #fff;
    }

    #close {
        display: inline-block;
        position: absolute;
        right: -5px;
        top: -8px;
    }

    .tour_img_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .top_box {
        flex-direction: column;
    }

    .choose_box {
        align-items: flex-start;
    }

    .deals_one,
    .deals_two {
        align-items: center;
    }

    .deals_one .details_container,
    .deals_two .details_container {
        margin: 50px 10px;
    }
    .blog h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:600px) {
    .first_banner h1 {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }

    .first_banner p {
        font-size: 0.9rem;
    }

    .first_form input {
        width: 85%;
    }

    .offer {
        width: 200px;
        bottom: 40px;
    }

    .offer h2 {
        font-size: 1.2rem;
    }
    .blog_holder{
        grid-template-columns: repeat(1,1fr);
    }
}